/* TED icon color: rgb(191 55 39) */

/* https://qiita.com/tkrkt/items/63fde6f49c9aa33cfdfb */
body {
  max-width: 800px;
  min-width: 500px;
  background: rgb(28, 30, 31); /* TED background color */
  color: rgb(253, 251, 246);   /* TED text color */
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

form {
  margin: 0 0 15px 0;
  overflow: hidden;
}

label {
  display: inline-block;
  width: 45%;
  cursor: pointer;
}

input {
  background: rgb(59, 59, 59); /* Chrome input background color (chrome://net-internals/#dns) */
  color: rgb(233, 233, 233);
  width: 50%;
  float: right;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: rgb(117, 117, 117); /* Chrome placeholder color (chrome://net-internals/#dns) */
}

.title {
  display: inline-block;
  width: 100%;
}

.save-container {
  display: flex;
  float: right;
  height: 100%;
}
