/* TED icon color: rgb(191 55 39) */

/* https://qiita.com/tkrkt/items/63fde6f49c9aa33cfdfb */
body {
  max-width: 800px;
  min-width: 500px;
  background: rgb(28, 30, 31); /* TED background color */
  color: rgb(253, 251, 246);   /* TED text color */
  margin: 8px 60px;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 0 10px 0;
}

form {
  margin: 0 0 20px 0;
  overflow: hidden;
}

label {
  display: inline-block;
  width: 45%;
  cursor: pointer;
}

input, select {
  width: 50%;
  background: rgb(59, 59, 59); /* Chrome input background color (chrome://net-internals/#dns) */
  color: rgb(233, 233, 233);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 4px 8px;
  border: 1px solid rgb(133, 133, 133); /* https://csshtml.work/css-border/ */
  float: right;
}

input {
  border-radius: 100px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: rgb(117, 117, 117); /* Chrome placeholder color (chrome://net-internals/#dns) */
}

input.center {
  text-align: center;
}

select {
  outline: none;
  margin: 4px 10px; /* width should be (input padding) + (input border-width) */
  text-align: center;
  border-radius: 6px;
}

a {
  color: skyblue;
}

a:hover {
  color: deepskyblue;
}

a:active {
  color: dodgerblue;
}

.title {
  display: inline-block;
  width: 100%;
}

.save-container {
  display: flex;
  float: right;
  height: 100%;
}

.option-name {
  font-size: 12px;
}

/* https://zenn.dev/catnose99/articles/26bd8dac9ea5268486c8 */
.tooltip {
  position: absolute;
  cursor: pointer;
}
.tooltip::after {
  content: 'i';
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
  font-weight: bold;
  color: rgb(133, 133, 133);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 100%;
  width: 11px;  /* (option-name font-size) - (border-width) */
  height: 11px; /* (option-name font-size) - (border-width) */
  margin: 0 0 0 5px;
}
.tooltip-text {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: inline-block;
  padding: 7px 11px;
  white-space: nowrap;
  font-size: 0.8rem;
  line-height: 1.3;
  background: #333;
  color: #fff;
  border-radius: 3px;
  transition: 0.15s ease-in;
  z-index: 1;
  white-space: break-spaces;
  text-align: center;
  width: 170px;
  border: 1px solid #797979;
}
.tooltip-text.bottom {
  top: 20px;
  bottom: unset;
}
.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}
