/* https://qiita.com/tkrkt/items/63fde6f49c9aa33cfdfb */
body {
  max-width: 800px;
  min-width: 500px;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.title {
  display: inline-block;
  width: 100%;
}

.save-container {
  display: flex;
  float: right;
  height: 100%;
}
